@using Microsoft.AspNetCore.Http
@using BloodDonation.Types.Entity
@inject IHttpContextAccessor HttpContextAccessor
@{
    int userTypeId = HttpContextAccessor?.HttpContext?.Session.GetInt32("BloodDonation_User_UserTypeId") ?? -1;
    string userTypeName = userTypeId == -1 ? "Giriş Yapmamış Kullanıcı" : ((UserType)userTypeId).GetName();
    string? username = HttpContextAccessor?.HttpContext?.Session.GetString("BloodDonation_User_Username");
    string? firstName = HttpContextAccessor?.HttpContext?.Session.GetString("BloodDonation_User_FirstName");
    string? lastName = HttpContextAccessor?.HttpContext?.Session.GetString("BloodDonation_User_LastName");
    int? bloodTypeId = HttpContextAccessor?.HttpContext?.Session.GetInt32("BloodDonation_User_BloodGroupId");
    string? bloodTypeName = bloodTypeId == null ? null : ((BloodGroup)bloodTypeId).GetName();
    string? hospitalName = HttpContextAccessor?.HttpContext?.Session.GetString("BloodDonation_User_HospitalName");
}

<!DOCTYPE html>
<html lang="tr" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kan Bağışı Sistemi</title>
    <script src="https://cdn.jsdelivr.net/npm/@@coreui/coreui@4.3.0/dist/js/coreui.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@coreui/coreui@4.3.0/dist/css/coreui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@@coreui/icons@3.0.1/dist/cjs/index.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@coreui/icons@3.0.1/css/all.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kan Bağışı Sistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="List">Kullanıcılar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="List">Hastaneler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NeedForBlood" asp-action="ListAll">Kan İhtiyaçları</a>
                        </li>
                    </ul>
                </div>
                <ul class="header-nav ms-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link py-0 px-2 fs-5" data-coreui-toggle="dropdown" data-coreui-auto-close="outside" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="">
                                <i class="bi bi-person-fill px-1"></i>
                                @username
                            </div>
                        </a>
                        @if (userTypeId != -1)
                        {
                            <div class="dropdown-menu dropdown-menu-end pt-0" style="min-width: 250px">
                                <div class="dropdown-header bg-light py-2">
                                    <div class="fw-semibold">Hesap Türü: @userTypeName</div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    @if (userTypeId != (int)UserType.Admin)
                                    {
                                        <li class="list-group-item">
                                            <strong>Kullanıcı Adı:</strong> @username
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Ad:</strong> @firstName
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Soyad:</strong> @lastName
                                        </li>
                                        <li class="list-group-item">
                                            @if ((UserType)userTypeId == UserType.Hospital)
                                            {
                                                <strong>Hastane Adı:</strong> @hospitalName
                                            }
                                            else // UserType.Donor
                                            {
                                                <strong>Kan Grubu:</strong> @bloodTypeName
                                            }
                                        </li>
                                    }
                                    <li class="mt-2" style="list-style-type:none">
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Logout">
                                            <i class="icon me-2 cil-account-logout">
                                            </i> Çıkış Yap
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-auto py-3 text-muted">
        <div class="container">
            &copy; 2023 - Kan Bağışı Sistemi
        </div>
    </footer>
</body>
</html>
